*.o
.*.swp
*~
TODO
testNone
testError
testString
testArray
testList
testDict
testPrint
testFile
testGo
testChan
testRef
testDir
testArgv
testMutex
testCond
testSem
testSet
testSock
testDaemon
testObserver
testDefer
testFunctor
testRegex
