.depend
*.o
*.so
*.a
*.swp
*~
.DS_Store
oolib.xcworkspace
oolib.xcworkspace/*
TODO
DESIGN

*.la
*.a
*.o
*.lo

m4
autom4te.cache
aclocal.m4
aux-dist
config.*
configure

example
Makefile
Makefile.in
libtool
src/.deps
src/.libs